.Nav {
    width: 80vw;
    border : 1px solid rgb(63, 24, 24);
    background-color: rgb(87, 24, 24);
    height: 70vh;
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    z-index: 100;
}

.LogoAndMenuButton {
    display: flex;
    background-color: rgb(87, 34, 34);
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 10px;
    color: rgb(207, 207, 207);
    position: fixed;
    width: 100vw;
    z-index: 1000;
    height: 60px;
    box-sizing: border-box;
}

.a {

}

.LinkSection {
    margin-top: 40px;
}

.LinkSection > span {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background-color: #fff;
}

.LinkSection > ul {
    margin-top: 5px;
    color: white;
    list-style: none;
    margin-left: 40px;
}

.LinkSection > ul > li {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

a:hover {
    background-color: rgba(300, 300, 300, 0.4);
    border-bottom: 1px solid white;
}


@media (min-width: 765px){
    .Nav {
        width : 300px;
        height: 100vh;
    }
}