.Container {
    overflow: auto;
}

.Movies {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap : 20px ;
    padding: 10px;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-color: red;
    box-sizing: border-box;
}


@media (min-width: 765px){
    .Movies {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 992px){
    .Movies {
        width : 80%;
    }
}