.MenuButton {
    width : 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40px;
}

.MenuButton > div {
    height: 4px;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(207, 207, 207);
}