.Details {
    text-align: left;
}

.Backdrop {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 30vh;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.Gradient {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) ,rgba(0, 0, 0, 0.6) , black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.Title {
    margin-left: 20px;
    color: white;
    text-align: left;
}

.MainDetails {
    margin-left: 20px;
    overflow-y: auto;
    height: 60vh;
}